.select-group {
   margin-bottom: 1.5rem;
   &__group {
      display: flex;
      align-items: center;
      width: 100%;
      &.col {
         flex-direction: column;
         align-items: flex-start;
         .form-group__input {
            width: 100%;
         }
      }
      .react-select {
         &__single-value {
            color: rgba(0, 0, 0, 0.4);
         }
         &__control {
            height: 34px;
            box-shadow: none;
            min-height: 34px;
            border-radius: 2px;
            border-color: rgb(231, 229, 230);
            &:hover {
               border-color: rgb(231, 229, 230);
            }
            &--is-focused {
               .react-select__single-value {
                  color: rgba(0, 0, 0, 0.7);
               }
            }
         }

         &__valueContainer {
            margin-bottom: 0.2rem;
         }
         &__menu {
            &-list {
               padding: 0;
               border-radius: 0;
            }
         }
         &__option {
            border-radius: 3px;
         }
         &__placeholder {
            color: rgba(0, 0, 0, 0.3);
         }
         &__multi-value {
            &__label {
               color: #fff;
            }
            &__remove {
               cursor: pointer;
               transition: all 0.25s ease;
               &:hover {
                  color: #fff;
                  background-color: rgb(253, 61, 79);
               }
            }
            background-color: #33b5e5 !important;
            color: #fff;
         }
      }
   }
   &__lable {
      display: inline-block;
      font-weight: 700;
      margin-right: 1rem;
   }
   &__select {
      width: 100%;
   }
   &__error {
      color: red;
      font-size: 1.1rem;
      margin-top: 0.5rem;
   }
}
