.textarea-group {
   margin-bottom: 1.5rem;
   &__group {
      display: flex;
      align-items: center;
      width: 100%;
      &.col {
         flex-direction: column;
         align-items: flex-start;
         .textarea-group__textarea {
            width: 100%;
         }
      }
   }
   &__lable {
      display: inline-block;
      font-weight: 700;
      margin-right: 1rem;
   }
   &__textarea {
      flex-grow: 1;
      border: 1px solid rgb(231, 229, 230);
      padding: 0.55rem 1.5rem;
      border-radius: 2px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      textarea {
         flex-grow: 1;
         margin-right: 1rem;
         border: none;
         transition: all 0.25s linear;
         color: rgba(0, 0, 0, 0.4);
         font-family: "Roboto Condensed", sans-serif;
         font-size: 1.4rem;
         &:focus {
            color: rgba(0, 0, 0, 0.7);
         }
         &::placeholder {
            color: rgba(0, 0, 0, 0.3);
         }
      }
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:active,
      textarea:-webkit-autofill:focus {
         background-color: #ffffff !important;
         -webkit-box-shadow: 0 0 0 1000px white inset !important;
      }
      i {
         color: rgba(0, 0, 0, 0.4);
      }
   }
   &__error {
      color: red;
      font-size: 1.1rem;
      margin-top: 0.5rem;
      margin-left: 1rem;
   }
}
