.search-form {
   display: flex;
   justify-content: center;
   .select-group,
   .input-group {
      margin-bottom: 0;
      margin-right: 0.5rem;
      max-height: 34px;
   }
   .select-group {
      min-width: 17rem;
   }
   .input-group {
      min-width: 27rem;
   }
   .btn {
      width: 3.4rem;
      i {
         margin-right: 0;
      }
   }
}
