.book {
   &-manage {
      width: 100%;
      .table-box {
         .table-cell {
            width: 16%;
            .btn {
               margin: 0 0.5rem;
            }
            &__id {
               width: 15%;
            }
         }
         .first-cell {
            width: 5%;
         }
         .last-cell {
            width: 15%;
         }
      }
   }
}
