.reader-awaiting {
   .table {
      &-cell {
         width: 18.75%;
         &__id {
            width: 10%;
         }
      }
      &-box {
         .first-cell {
            width: 5%;
         }
         .last-cell {
            width: 10%;
         }
      }
   }
}
